h1,
h2,
p {
  font-family: "Lora", serif;
  color: black;
}
/* nav tyylit */
nav {
  background-color: #3f3223f3;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  z-index: 1;
  max-width: 100%;
  box-sizing: border-box;
}
nav a {
  margin-left: 20px;
  border-radius: 10px;
  background-color: #5a4631;
}

nav a:hover {
  background-color: #2e2419;
  border-radius: 10px;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

nav a.active {
  background-color: #2e2419;
}

/* footer tyylit */
footer {
  background-color: #3f3223f3;
  font-family: "Lora", serif;
  padding: 20px 0;
  text-align: center;
  max-width: 100%;
}
footer .text {
  color: black;
}

/* sivun taustakuva */
body {
  background-image: url(../images/photoshopattutausta.jpg);
  background-size: cover;
  overflow-x: hidden;
}

/* lomakkeen tyylit */
form {
  margin: 20px;
}
.form button {
  background-color: #2e2419;
}
label {
  color: rgb(255, 255, 255);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.message {
  border: 3px solid #2e2419;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e6e2d3;
  border-radius: 5px;
}

.highlight {
  border: 3px solid red;
}

@media screen and (max-width: 768px) {
  /* fontit */
  h1,
  h2,
  p {
    font-size: 18px;
  }
  /*nav määrittykset*/
  nav {
    font-size: 18px;
    height: 50px;
  }

  nav a {
    margin-left: 10px;
    font-size: 16px;
  }
  /*footer määritykset*/
  footer {
    font-size: 18px;
  }
  /*form määritykset */
  form {
    margin: 10px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"],
  textarea {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 8px;
  }
}
